<form [formGroup]="formControl.group"
      (ngSubmit)="save()"
      class="form-snapping">
  <!-- Loading... -->
  <div [hidden]="post && !view.loading" class="align-center">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <!-- Textarea -->
    <div [hidden]="states.edit !== States.Showing || !post || view.loading" [@fadeInOut]="states.edit">
      <mat-form-field class="snap-full">
        <textarea matInput placeholder="Post" [(ngModel)]="post && post.content" formControlName="content"></textarea>
      </mat-form-field>
    </div>

    <!-- Preview -->
    <div [hidden]="states.preview !== States.Showing || view.loading" [@fadeInOut]="states.preview">
      <app-view-posting [post]="post" [collapsible]="false" (click)="togglePreview()"></app-view-posting>
    </div>

    <!-- Bottom Actions -->
    <button mat-button [disabled]="!formControl.group.valid" class="float-right" type="submit">
      <b>SAVE</b>
    </button>
    <button mat-icon-button class="float-right" type="button"
      (click)="toggleOptions()">
      <i class="material-icons">more_vert</i>
    </button>
    <span [hidden]="states.edit !== States.Showing || !post || view.loading">
      <button mat-icon-button type="button" [disabled]="!formControl.group.valid"
        (click)="togglePreview()">
        <i class="material-icons"
          [@fadeInOut]="states.edit">remove_red_eye</i>
      </button>
    </span>
    <span [hidden]="states.preview !== States.Showing || !post || view.loading">
      <button mat-icon-button type="button" [disabled]="!formControl.group.valid"
        (click)="togglePreview()">
        <i class="material-icons"
          [@fadeInOut]="states.preview">mode_edit</i>
      </button>
    </span>
  </div>
  <mat-expansion-panel #moreOptions class="mat-elevation-z0 posting">
    <fieldset>
      <div class="mute bold"><small>SECURITY</small></div>
      <mat-slide-toggle (change)="post.public = !post.public;" [checked]="post&&post.public" class="valign-middle">
        <i class="material-icons valign-middle" [ngClass]="{'disabled':post&&!post.public}">public</i>
        <span class="valign-middle" [ngClass]="{'disabled':post&&!post.public}">{{(post && post.public)?'Public':'Private'}}</span>
      </mat-slide-toggle>
    </fieldset>
    <fieldset>
      <div class="mute bold"><small>SERIES</small></div>
      <mat-form-field>
        <mat-select placeholder="Follows" [(value)]="post.previousPostId">
          <mat-option *ngFor="let otherPost of possiblePreviousPosts" [value]="otherPost._id">
            {{ otherPost.title || ("title missing (update post "+otherPost._id+")") }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
  </mat-expansion-panel>
</form>