<div class="auto-margin-max-900">
    <mat-card
        *ngFor="let post of posts"
        [class.mat-elevation-z8]="view.hot===post"
        (mousemove)="view.interest(post)"
        (mouseout)="view.interest(null)"
        (click)="view.showContent[post._id]=view.showContent[post._id]?0:1"
    >
        <app-view-posting [post]="post" [id]="'post-'+post._id"></app-view-posting>
        <mat-card-actions [@fadeInOut]="view.state[post._id]">
            <app-posting-actions [class.just-space]="view.hot!==post" [post]="post" (action)="action($event)"></app-posting-actions>
        </mat-card-actions>
    </mat-card>

    <div [hidden]="!pageControl.loading" class="align-center">
    <mat-spinner></mat-spinner>
    </div>
</div>