

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-container-drawer-sidenav" mode="push">
    <app-ui-drawer-menu></app-ui-drawer-menu>
  </mat-drawer>

  <div class="drawer-container-sidenav-content">
      <mat-toolbar class="toolbar mat-elevation-z3"  [ngStyle]="toolbarStyle">
        <app-ui-toolbar></app-ui-toolbar>
      </mat-toolbar>
    <div class="drawer-container-sidenav-content-view-wrapper">
      <!-- <mat-toolbar class="toolbar-space"></mat-toolbar> -->
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>