.drawer-container,
.drawer-container-drawer-sidenav {
    height:100%;
}
.drawer-container-sidenav-content-view-wrapper{
    margin:12px;
}
/* .drawer-container-drawer-sidenav {
    padding-right:14px;
} */
/* mat-toolbar.toolbar {
    position:fixed;
    z-index:10000;
    top:0px;
    left:0px;
}
mat-toolbar.toolbar-space {
    visibility: hidden;
} */