/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-snapping .snap-full {
    width: 100%;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.float-right {
    float:right;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #EEE;
}